@import "./normalize.css";
@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:400,400i,600,800');

/* -----------------------------------------------------------------------------
START OF GLOBAL STYLES
----------------------------------------------------------------------------- */

html {
  background-color: #f8f8f8;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  font-size: 1.3rem;
  margin: 0;
}

.content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3rem;
  width: 100%;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 1.5rem;
  }

  .content {
    max-width: 600px;
  }
}

h1 {
  color: #f8f8f8;
  font-family: 'Oleo Script', cursive;
  font-size: 7rem;
  margin: 0;
  padding-top: 6.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
  margin: 4rem 0 1rem;
}

a {
  text-decoration: none;
}

.info-text {
  font-size: 1.5rem;
  font-style: italic;
}

/* -----------------------------------------------------------------------------
END OF GLOBAL STYLES
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
START OF INTRODUCTION
----------------------------------------------------------------------------- */

.circle {
  border-radius: 50%;
  background-color: #221D23;
  margin: 0 auto;
  height: 20rem;
  width: 20rem;
}

.circle:hover {
  background-color: #FFC107;
}

.slogan {
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
}

.slogan::first-letter {
  font-size: 5rem;
}

/* -----------------------------------------------------------------------------
END OF INTRODUCTION
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
START OF BUTTON AND INPUT FIELDS
----------------------------------------------------------------------------- */

/* Completely remove from the flow but leave available to screen readers. */
label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.button, select, table {
  text-align: center;
  width: 100%;
}

.input-wrapper, .button, select {
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  border-radius: 2px;
  color: #c3c3c3;
  height: 5rem;
  margin: 1rem 0;
  position: relative;
}

input, .button {
  border: 0px solid;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding-left: 1rem;
  text-align: center;
}

input {
  background-color: transparent;
  height: 5rem;
  text-align: left;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.button {
  background-color: #FF1966;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  height: 6rem;
  padding: 2rem 0;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  background-color: #FF3F69;
}

.button:active {
  transform: translateY(5px);
}

/* -----------------------------------------------------------------------------
END OF BUTTON AND INPUT FIELDS
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
START OF FILTER AND SORT
----------------------------------------------------------------------------- */

option {
  text-align: center;
}

select {
  background-color: #f8f8f8;
  padding-left: 1rem;
  text-align: left;
}

@media screen and (min-width: 500px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .small {
    height: 5rem;
    width: 100%;
  }

  select.small {
    flex-grow: 2;
  }

  select.small:first-of-type {
    margin-right: 0.5rem;
  }

  .button.small {
    margin: 0;
    padding: 1rem;
  }
}

/* -----------------------------------------------------------------------------
END OF FILTER AND SORT
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
START OF TODO LIST
----------------------------------------------------------------------------- */

table {
  border-spacing: 0;
  margin: 0 auto;
  vertical-align: middle;
}

td {
  border-bottom: 6px solid #FFC107;
  font-weight: 600;
  height: 3em;
  padding: 1em;
  text-align: left;
}

.done {
  color: #6E6D6C;
  font-style: italic;
  text-decoration: line-through;
}

.high-priority > td {
  font-weight: 800;
  text-transform: uppercase;
}

.low-priority > td {
  color: #383735;
}

tr:hover {
  background-color: #FFC107;
}

.icon {
  height: 2rem;
  width: 2rem;
  padding: 0;
}

@media screen and (min-width: 500px) {
  .icon {
    height: 3rem;
    width: 3rem;
    padding: 0;
  }
}

.icon-button {
  background-color: transparent;
  border: transparent;
  color: #221D23;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.icon-button:hover {
  color: #f8f8f8;
}

/* -----------------------------------------------------------------------------
END OF TODO LIST
----------------------------------------------------------------------------- */
